.movie-preview .modal-content{
    background: rgb(63,63,78);
    background: linear-gradient(184deg, rgba(63,63,78,1) 0%, rgba(34,34,40,1) 51%, rgba(10,12,13,1) 100%);
color:#fff;

}
.btn-secondary{
    color:#fff;
}

.btn img {
    margin-right:.5rem;
}